/*Background Image*/
body {
    background-image: url("../images/background.jpg");
    background-size: cover;
}

/*Main Content*/

#wrapper {
    max-width: 1140px;
    width: 100%;
    height: 660px;
    margin-top: 50px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    background-color: #eeeeee;
    
}

.slideshow-container {
    margin: 20px;
    margin-left: 0px;
}

.title {
    font-size: 100px;
    margin-top: 20px;
    margin-bottom: 50px;
}

#start {
    margin-top: 130px;
    font-size: 50px;
    border: 5px double #eeeeee;
    padding: 14px 100px;
    background-color: #eeeeee;
}

#start:hover {
    background-color: #7777;
    color: #eeeeee;
}

#start:active {
    color: black;
    border: 5px double black;

}

.buttons {
    font-size: 50px;
    border: 5px double #eeeeee;
    padding: 10px 150px;
    background-color: #eeeeee;
}

.buttons:hover {
    background-color: #7777;
    color: #eeeeee;
}

.buttons:active {
    color: black;
    border: 5px double black;

}

