/*Background Image*/
body {
    background-image: url("../images/background.jpg");
    background-size: cover;
}


/*Main Content*/


/* Content Wrapper */
#wrapper {
    max-width: 1140px;
    width: 100%;
    height: 660px;
    margin-top: 50px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    background-color: #eeeeee;
    
}


/* Heading */
.title {
    font-size: 100px;
    margin-top: 20px;
    margin-bottom: 50px;
}


/* Start Button */
#start {
    margin-top: 130px;
    font-size: 50px;
    border: 5px double #eeeeee;
    padding: 14px 100px;
    background-color: #eeeeee;
}

#start:hover {
    background-color: #7777;
    color: #eeeeee;
}

#start:active {
    color: black;
    border: 5px double black;

}


/* Choice Buttons */
.buttons {
    font-size: 50px;
    border: 5px double #eeeeee;
    padding: 10px 150px;
    background-color: #eeeeee;
}

.buttons:hover {
    background-color: #7777;
    color: #eeeeee;
}

.buttons:active {
    color: black;
    border: 5px double black;

}


/* Answer Images */
.answerImage {
    margin-top: 20px;
}


/* Extends wrapper for smaller screens  */
@media screen and (max-width: 1199px) {

    #wrapper {
        height: 800px;
    }
    
}

@media screen and (max-width: 960px) {

    #wrapper {
        height: 850px;
    }
    
}

/* Content seemed shifted ever so slightly to the right when in full screen so I added this so center it up a bit more */
@media screen and (min-width: 1200px) {

    .slideshow-container {
        margin: 20px;
        margin-left: 0px;
    }
    
}
